*.class
*.log

# IntelliJ
.idea/

# Akka specific
logs/

# SBT specific
.cache/
.history/
.lib/
target/
lib_managed/
project/

# Private/public key specific
*.pem
*.key
*.der
*.pub

# Ignore custom configuration files
*.conf
!akka.conf