db {
  users {
    user        = <user>
    password    = <pwd>
    url         = "jdbc:postgresql://<host>:<port>/<userdb>"
    driverClass = "org.postgresql.Driver"
  }

  codeSequence.ddl = "create sequence codeseq increment 1 start 128"
  nextCode.query   = "select nextval('codeseq')"

  folders {
    user        = <user>
    password    = <pwd>
    url         = "jdbc:postgresql://<host>:<port>/<folderdb>"
    driverClass = "org.postgresql.Driver"
  }
}